-- Crear la base de datos
CREATE DATABASE PoliMarket;

-- Usar la base de datos
USE PoliMarket;

-- Crear tablas

CREATE TABLE Supplier (
    id INT PRIMARY KEY,
    tax_id INT NOT NULL,
    company VARCHAR(255),
    phone VARCHAR(20),
    email VARCHAR(255)
);

CREATE TABLE Product (
    tax_id INT PRIMARY KEY,
    name VARCHAR(255),
    quantity INT NOT NULL
);

CREATE TABLE Warehouse (
    id INT PRIMARY KEY
);

CREATE TABLE Warehouse_Supplier (
    warehouse_id INT,
    supplier_id INT,
    PRIMARY KEY (warehouse_id, supplier_id),
    FOREIGN KEY (warehouse_id) REFERENCES Warehouse(id),
    FOREIGN KEY (supplier_id) REFERENCES Supplier(id)
);

CREATE TABLE Warehouse_Product (
    warehouse_id INT,
    product_tax_id INT,
    PRIMARY KEY (warehouse_id, product_tax_id),
    FOREIGN KEY (warehouse_id) REFERENCES Warehouse(id),
    FOREIGN KEY (product_tax_id) REFERENCES Product(tax_id)
);

CREATE TABLE Customer (
    id INT PRIMARY KEY,
    dni VARCHAR(20) NOT NULL,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    phone VARCHAR(20),
    email VARCHAR(255),
    address TEXT
);

CREATE TABLE Seller (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    password VARCHAR(255)
);

CREATE TABLE Sale (
    id INT PRIMARY KEY,
    customer_id INT,
    FOREIGN KEY (customer_id) REFERENCES Customer(id)
);

CREATE TABLE Seller_Sale (
    seller_id INT,
    sale_id INT,
    PRIMARY KEY (seller_id, sale_id),
    FOREIGN KEY (seller_id) REFERENCES Seller(id),
    FOREIGN KEY (sale_id) REFERENCES Sale(id)
);

CREATE TABLE Sale_Product (
    sale_id INT,
    product_tax_id INT,
    PRIMARY KEY (sale_id, product_tax_id),
    FOREIGN KEY (sale_id) REFERENCES Sale(id),
    FOREIGN KEY (product_tax_id) REFERENCES Product(tax_id)
);

CREATE TABLE Delivery (
    id INT PRIMARY KEY,
    sale_id INT UNIQUE,
    FOREIGN KEY (sale_id) REFERENCES Sale(id)
);

CREATE TABLE HR (
    id SERIAL PRIMARY KEY,
    username VARCHAR(255),
    password VARCHAR(255)
);

-- Insertar datos

-- Suppliers
INSERT INTO Supplier VALUES
(1, 900123456, 'TechCorp S.A.S.', '3111111111', 'ventas@techcorp.com'),
(2, 901234567, 'OfficePro Ltda.', '3122222222', 'proveedor@officepro.com'),
(3, 902345678, 'GadgetWorld S.A.', '3133333333', 'contacto@gadgetworld.com'),
(4, 903456789, 'SmartSupplies', '3144444444', 'smart@supplies.com'),
(5, 904567890, 'DigitalHouse', '3155555555', 'info@digitalhouse.com');

-- Products
INSERT INTO Product VALUES
(1001, 'Laptop Lenovo ThinkPad T14', 50),
(1002, 'Monitor Samsung 27\"', 30),
(1003, 'Impresora HP LaserJet 107a', 20),
(1004, 'Mouse Inalámbrico Logitech', 100),
(1005, 'Teclado Mecánico Redragon', 40);

-- Warehouses
INSERT INTO Warehouse VALUES (1), (2);

-- Warehouse-Supplier relationships
INSERT INTO Warehouse_Supplier VALUES
(1, 1), (1, 2), (2, 3), (2, 4), (1, 5);

-- Warehouse-Product relationships
INSERT INTO Warehouse_Product VALUES
(1, 1001), (1, 1002), (1, 1004),
(2, 1003), (2, 1005);

-- Customers
INSERT INTO Customer VALUES
(1, '101001001', 'Laura', 'Gómez', '3001112233', 'laura.gomez@gmail.com', 'Cra 10 #45-23'),
(2, '101002002', 'Carlos', 'Pérez', '3012223344', 'carlos.perez@hotmail.com', 'Cll 34 #22-12'),
(3, '101003003', 'Andrea', 'López', '3023334455', 'andrea.lopez@outlook.com', 'Av 7 #88-19'),
(4, '101004004', 'Luis', 'Rodríguez', '3034445566', 'luis.rod@gmail.com', 'Cra 25 #55-90'),
(5, '101005005', 'María', 'Torres', '3045556677', 'maria.torres@yahoo.com', 'Cll 50 #30-11');

-- Sellers
INSERT INTO Seller VALUES
(1, 'Juan Martínez', 'clave123'),
(2, 'Sofía Ruiz', 'segura456');

-- Sales
INSERT INTO Sale VALUES
(1, 1),
(2, 2),
(3, 3);

-- Seller-Sale relationships
INSERT INTO Seller_Sale VALUES
(1, 1),
(2, 2),
(2, 3);

-- Sale-Product relationships
INSERT INTO Sale_Product VALUES
(1, 1001),
(1, 1004),
(2, 1002),
(3, 1005);

-- Deliveries
INSERT INTO Delivery VALUES
(1, 1),
(2, 2),
(3, 3);

-- HR User
INSERT INTO HR (username, password) VALUES
('admin', 'admin123');
